pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
**/target/**
.idea/*
.idea/**		
**/.settings
.classpath
.project
**/.idea/**
**/.idea
**/node_modules
**/node_modules/**
**/typings
**/typings/**

